$color-turquoise-blue: rgb(44, 62, 80);
$color-turquoise-green: rgb(52, 152, 219);
$color-gray-medium: rgb(128, 128, 128);
$color-gray-light: rgb(222, 222, 222);
$color-almost-white: rgb(252, 252, 252);
$color-almost-white-95: rgba(252, 252, 252, 0.95);

$font-title: 'Work Sans', 'Arial', sans-serif;
$font-text: 'Karma', serif;
