@use '../variables' as v;
@use '../mixins' as m;

/* ----------------------------------------- */
/* BIOGRAPHY                                 */
/* ----------------------------------------- */

.round-portrait {
  width: 100%;
  border-radius: 3%;
  display: block;
  margin: 0px auto;
  margin-bottom: 0.6rem;
}

.bio-link {
  color: v.$color-gray-light;
  font-size: 1.2rem;
  padding-left: 1rem;
  transition: color 0.2s ease-in-out;
}

.bio-link:hover {
  color: v.$color-turquoise-green;
}

.bio-row {
  margin-bottom: 2rem;
}

.table-bio-date {
  padding-right: 1rem;
  font-style: italic;
  font-weight: bolder;
  vertical-align: top;
}


/* Small phones to small tablets: from 576px to 767px */
@include m.max-sm {
  .round-portrait {
    width: 65%;
  }
}

/* Small phones: from 0 to 576px */
@include m.max-xs {
  .round-portrait {
    width: 100%;
  }
}

