@use '../variables' as v;

/* ----------------------------------------- */
/* PUBLICATIONS                              */
/* ----------------------------------------- */

#content-publications p {
  line-height: 1.33;
}

#content-publications .pub-item {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}


